<div class="movieform">
    <h4 class="movieform__title">Ajouter un film</h4>
    <form class="movieform__form">
        <input required placeholder="Titre du film"  type="text" name="name" title="titre du film">
        <input required placeholder="Réalisateur" type="text" name="director" title="Réalisateur du film">
        <input required placeholder="Année de sortie" type="number" name="year" title="Année de sortie du film">
        <input required placeholder="Durée du film (en minutes)" type="number" name="length" title="durée (minute)">
        <input required placeholder="Description" type="text" name="description" title="Description ou Synopsis">

        <select name="id_category">
            {{options}}
        </select>

        <input required placeholder="Nom du fichier de l'affiche" type="text" name="image" title="Image">
        <input required placeholder="URL du trailer" type="text" name="trailer" title="URL du trailer">
        <input required placeholder="Age minimum" type="number" name="min_age" title="restriction age">

        <input onClick="{{handler}}" type="button" value="Ajouter" name="todo">

    </form>
</div>