<div class="MovieDetail">
    <div class="MovieDetail__img">
        <img class="MovieDetail__img-img">
    </div>
    <div class="MovieDetail__info">
        <h3 class="MovieDetail__info-name">{{title}}</h3>
        <p class="MovieDetail__info-description">{{description}}</p>
        <p class="MovieDetail__info-director">{{director}}</p>
        <p class="MovieDetail__info-year">{{year}}</p>
        <p class="MovieDetail__info-category">{{category}}</p>
        <p class="MovieDetail__info-min_age">{{min-age}}</p>
        <iframe>{{url}}</iframe>
    </div>
</div>