.moviecard {
    font-family: var(--ff-sans);
    color: var(--color-fg);

    .moviecard__container {
        position: relative;
        transition: transform ease-in-out 0.25s;
        &:hover{
            transform: scale(1.1);
        }

    }

    .moviecard__container-img {
        width: 14rem;
        aspect-ratio: 9/14;
        object-fit: cover;
        cursor: pointer;
        box-shadow: 1rem 1rem 1rem var(--color-black);
    }

    .moviecard__container-name {
        margin-top: 0;
        margin-bottom: 2rem;
        font-weight: 300;
        display: none;
    }

    .moviecard__container-btn {
        position: absolute;
        bottom: 1rem;
        left: 1em;

        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: var(--fs-small);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        background: var(--gradient-blue);
        font-weight: var(--fw-300);
        border: none;
        color: var(--color-white);

        &:hover {
            background: var(--gradient-blue-hover)
            
        }
    }
}