<div class="profileform">
    <h4 class="profileform__title">Ajouter un profil</h4>
    <form class="profileform__form">
        <input required placeholder="Nom" type="text" name="name" title="Nom du profil">
        <input required placeholder="Avatar" type="text" name="avatar" title="Avatar du profil">
        <input required placeholder="Age minimum" type="number" name="min_age" title="restriction age">

        <input onClick="{{handler}}" type="button" value="Ajouter" name="todo">

    </form>
</div>